# Point cloud Transfromation with PythonLidar

## Imports

In [2]:
import pickle
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from shapely.geometry import Point, LineString, Polygon

In [3]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [4]:
from python_lidar import PythonLidar
pl = PythonLidar(epsg=4326)

2021-08-22 21:56:50,245 — FileHandler — INFO — usgs_3dep_metadata read successfully

In [8]:
gpd = pickle.load(open("../data/pickle/filename.pickle", "rb"))
df = gpd[0]['geo_data'].copy()
df

        elevation                    geometry
0          317.59  POINT (-93.74864 41.92142)
1          317.42  POINT (-93.74863 41.92142)
2          317.27  POINT (-93.74862 41.92142)
3          317.28  POINT (-93.74865 41.92142)
4          317.25  POINT (-93.74867 41.92142)
...           ...                         ...
403326     317.77  POINT (-93.75259 41.91930)
403327     313.97  POINT (-93.74782 41.91812)
403328     315.01  POINT (-93.74940 41.91812)
403329     315.62  POINT (-93.75100 41.91812)
403330     316.16  POINT (-93.75258 41.91812)

[403331 rows x 2 columns]